html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#site {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0092b3;
  color: #dacea8;
}
