<!doctype html>

<html>
  <head>
    <meta charset='utf-8'>
    <link href='site.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.0.0-alpha.3/pixi.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/soundjs.min.js"></script></head>
    <script src='site.mjs' type='module'></script>
    <%= static_content %>
  </head>

  <body>
    <div id='site'>
      <%= yield %>
    </div>
    <div id='backend'>
      <% frontend.each do |k, v| %>
        <%# FIXME: escaping should happen here, just to be safe? %>
        <input type='hidden' class='<%= k %>' value='<%= v %>'>
      <% end %>
    </div>
  </body>
</html>

